.catalog-grid
	.catalog-filter
		.form-field.form-field--sort
			span
				| Сортировать по:
			select
				option
					| возрастанию цены
				option
					| умолчанию
				option
					| популярности
				option
					| возрастанию цены
				option
					| убыванию цены
				option
					| новизне
				option
					| рейтингу
				option
					| наименованию товара
		.form-field
			span
				| На странице:
			select
				option
					| 15
				option
					| 30
				option
					| 50
	+catalogItems({
		'items': [
				{
						imgSrc: './images/catalog/item_img_1.jpg',
						imgSrcX2: './images/catalog/item_img_1@2x.jpg',
						name: 'Платье "Юлианна"',
						articul: 'Артикул: 453453',
						priceOld: '5 800',
						price: '5 600 руб.',
						type: 'Акция'
				},
				{
						imgSrc: './images/catalog/item_img_2.jpg',
						imgSrcX2: './images/catalog/item_img_2@2x.jpg',
						name: 'Платье Рейтинговое',
						articul: 'Артикул: 453478',
						priceOld: '',
						price: '2 100 руб.',
						type: 'Новинка'
				},
				{
						imgSrc: './images/catalog/item_img_3.jpg',
						imgSrcX2: './images/catalog/item_img_3@2x.jpg',
						name: 'ТОП МАРИКА',
						articul: 'Артикул: 453453',
						priceOld: '',
						price: '1 200 руб.',
						type: 'Хит продаж'
				},
				{
						imgSrc: './images/catalog/item_img_4.jpg',
						imgSrcX2: './images/catalog/item_img_4@2x.jpg',
						name: 'Юбка "Моника"',
						articul: 'Артикул: 442378',
						priceOld: '',
						price: '2 000 руб.',
						type: ''
				},
				{
						imgSrc: './images/catalog/item_img_5.jpg',
						imgSrcX2: './images/catalog/item_img_5@2x.jpg',
						name: 'платье "Таисия"',
						articul: 'Артикул: 452929',
						priceOld: '3 400',
						price: '3 200 руб.',
						type: 'Акция'
				},
				{
						imgSrc: './images/catalog/item_img_6.jpg',
						imgSrcX2: './images/catalog/item_img_6@2x.jpg',
						name: 'Рейтинговое платье из сатин-вельвета',
						articul: 'Артикул: 453453',
						priceOld: '',
						price: '7 100 руб.',
						type: ''
				},
				{
						imgSrc: './images/catalog/item_img_1.jpg',
						imgSrcX2: './images/catalog/item_img_1@2x.jpg',
						name: 'Платье "Юлианна"',
						articul: 'Артикул: 453453',
						priceOld: '5 800',
						price: '5 600 руб.',
						type: 'Акция'
				},
				{
						imgSrc: './images/catalog/item_img_2.jpg',
						imgSrcX2: './images/catalog/item_img_2@2x.jpg',
						name: 'Платье Рейтинговое',
						articul: 'Артикул: 453478',
						priceOld: '',
						price: '2 100 руб.',
						type: 'Новинка'
				},
				{
						imgSrc: './images/catalog/item_img_3.jpg',
						imgSrcX2: './images/catalog/item_img_3@2x.jpg',
						name: 'ТОП МАРИКА',
						articul: 'Артикул: 453453',
						priceOld: '',
						price: '1 200 руб.',
						type: 'Хит продаж'
				},
				{
						imgSrc: './images/catalog/item_img_4.jpg',
						imgSrcX2: './images/catalog/item_img_4@2x.jpg',
						name: 'Юбка "Моника"',
						articul: 'Артикул: 442378',
						priceOld: '',
						price: '2 000 руб.',
						type: ''
				},
				{
						imgSrc: './images/catalog/item_img_5.jpg',
						imgSrcX2: './images/catalog/item_img_5@2x.jpg',
						name: 'платье "Таисия"',
						articul: 'Артикул: 452929',
						priceOld: '3 400',
						price: '3 200 руб.',
						type: 'Акция'
				},
				{
						imgSrc: './images/catalog/item_img_6.jpg',
						imgSrcX2: './images/catalog/item_img_6@2x.jpg',
						name: 'Рейтинговое платье из сатин-вельвета',
						articul: 'Артикул: 453453',
						priceOld: '',
						price: '7 100 руб.',
						type: ''
				},
				{
						imgSrc: './images/catalog/item_img_1.jpg',
						imgSrcX2: './images/catalog/item_img_1@2x.jpg',
						name: 'Платье "Юлианна"',
						articul: 'Артикул: 453453',
						priceOld: '5 800',
						price: '5 600 руб.',
						type: 'Акция'
				},
				{
						imgSrc: './images/catalog/item_img_2.jpg',
						imgSrcX2: './images/catalog/item_img_2@2x.jpg',
						name: 'Платье Рейтинговое',
						articul: 'Артикул: 453478',
						priceOld: '',
						price: '2 100 руб.',
						type: 'Новинка'
				},
				{
						imgSrc: './images/catalog/item_img_3.jpg',
						imgSrcX2: './images/catalog/item_img_3@2x.jpg',
						name: 'ТОП МАРИКА',
						articul: 'Артикул: 453453',
						priceOld: '',
						price: '1 200 руб.',
						type: 'Хит продаж'
				},
		]
	})
	+btn('border').catalog-grid__show-more
		| Показать еще
	+pagination(5, 4,'', 5, arrows)
