section.promo
  .glide.glide--single
    .glide__track(data-glide-el="track")
      ul.glide__slides
        li.glide__slide
          img(src=`${baseDir}images/promo-bg.jpg` srcset=`${baseDir}/../images/promo-bg@2x.jpg`)
          .container
            h1.promo__title
              span ОБНОВЛЕНИЕ МОДЕЛЬНОГО РЯДА
              | У нас вы найдёте широкий выбор
              | одежды, обуви и аксессуаров для танцев
        li.glide__slide
          img(src=`${baseDir}images/promo-bg.jpg` srcset=`${baseDir}/../images/promo-bg@2x.jpg`)
          .container
            h2.promo__title
              span ОБНОВЛЕНИЕ МОДЕЛЬНОГО РЯДА 1
              | У нас вы найдёте широкий выбор
              | одежды, обуви и аксессуаров для танцев
