.main-header {
  position: relative;
  width: 100%;

  &__form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
    width: 100%;
    max-width: 266px;

    .search-field {
      margin-top: 5px;

      @media (max-width: 490px) {
        margin-top: 25px;
      }
    }

    @media (max-width: 1200px) {
      margin-left: auto;
    }

    @media (max-width: 1023px) {
      justify-content: center;
      margin-left: 0;
      padding: 10px 0;
      max-width: 100%;
    }

    @media (max-width: 490px) {
      flex-flow: column-reverse nowrap;
      align-items: flex-end;
      margin-left: 0;
      padding-top: 40px;
      max-width: 50%;
    }
  }

  &__burger-btn {
    position: fixed;
    right: -5px;
    top: 20px;
    z-index: 10;
    border: none;
    padding: 0;
    min-width: 70px;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__burger {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
    width: 40px;
    height: 30px;
    background-color: transparent;

    > span {
      display: block;
    }

    &.active {
      .main-header__burger-topper {
        width: 28px;
        transform: rotate(135deg) translate(7.5px, -6px);
      }

      .main-header__burger-bottom {
        width: 28px;
        transform: rotate(-135deg) translate(0.5px, -1px);
      }

      .main-header__burger-footer {
        top: 0;
        opacity: 0;
        transform: rotate(180deg);
      }
    }

    @media (min-width: 1025px) {
      display: none;
    }
  }

  &__burger-topper {
    position: relative;
    border: none;
    border-radius: 40px;
    width: 30px;
    height: 3px;
    background: $color-jewel;
    transition: transform 0.5s, top 0.2s;
  }

  &__burger-bottom {
    position: relative;
    border: none;
    border-radius: 40px;
    width: 30px;
    height: 3px;
    background: $color-jewel;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s;
  }

  &__burger-footer {
    position: relative;
    border: none;
    border-radius: 40px;
    width: 30px;
    height: 3px;
    background: $color-jewel;
    transition: all 0.5s;
    transition-delay: 0.1s;
  }

  @media (max-width: 1023px) {
    display: flex;
    flex-flow: column-reverse nowrap;
  }
}

.main-header__top {
  border-bottom: 1px solid #d7d7d7;
  padding-top: 10px;
  padding-bottom: 7px;
  color: #4d4d4d;

  .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 1023px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .social-nav {
    margin-left: 240px;

    @media (max-width: 1200px) {
      margin-left: 240 / 1400 * 100vw;
    }

    @media (max-width: 1023px) {
      margin-left: 0;
    }
  }

  @media (max-width: 1023px) {
    padding-top: 10 / 1024 * 100vw;
    padding-bottom: 10 / 1024 * 100vw;
  }

  @media (max-width: 680px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.main-header__middle {
  .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    @media (max-width: 1023px) {
      flex-wrap: wrap;
    }

    @media (max-width: 680px) {
      flex-flow: column nowrap;
    }

    @media (max-width: 490px) {
      flex-flow: row wrap;
      align-items: stretch;
    }
  }
}

.main-header__bottom {
  background-color: $color-atlantis;

  @media (max-width: 1023px) {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s, visibility 0.6s;

    &.active {
      overflow-y: auto;
      opacity: 1;
      visibility: visible;
      transition: opacity 0.6s, visibility 0.6s;

      .top-nav {
        display: flex;
      }
    }
  }
}

.top-nav {
  position: relative;

  &__list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 0;

    @media (max-width: 1023px) {
      flex-flow: column nowrap;
    }
  }

  &__item {
    padding-left: 0;
    font-size: 0;
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    font-size: 12px;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    color: #4d4d4d;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: #4d4d4d;
      transition: width 0.3s, left 0.3s;
    }

    @media (min-width: 1025px) {
      &:hover,
      &:focus {
        &::after {
          left: 15px;
          width: calc(100% - 30px);
          transition: width 0.3s, left 0.3s;
        }
      }
    }

    @media (max-width: 1023px) {
      padding: 15px 0;
      padding-bottom: 17px;
      font-weight: 500;
      font-size: 18px;
      line-height: 1;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: transparent;
        transition: width 0.3s, background-color 0.3s;
      }

      &.active {
        &::after {
          width: 100%;
          background-color: #fff;
        }
      }
    }
  }

  @media (max-width: 1023px) {
    bottom: 0;
    display: none;
    justify-content: center;
    width: 100vw;
  }
}

.sign-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 107px;

  &__link {
    position: relative;
    display: inline-block;
    padding: 0 6px;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: #4d4d4d;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: #4d4d4d;
      transition: width 0.3s, left 0.3s;
    }

    &:last-child {
      position: relative;
      border-left: 1px dotted #000;
      padding-right: 0;
    }

    @media (min-width: 1025px) {
      &:hover,
      &:focus {
        &::after {
          left: 6px;
          width: calc(100% - 12px);
          transition: width 0.3s, left 0.3s;
        }

        &:last-child::after {
          width: calc(100% - 6px);
        }
      }
    }
  }

  @media (max-width: 1023px) {
    margin-left: 10px;
  }
}

.header-logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-decoration: none;

  &__pic {
    position: relative;
    top: -5px;
    margin-right: 15px;
    width: 156px;
    height: 129px;
    background-color: transparent;

    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      max-width: 156px;
      max-height: 170px;

      @media (max-width: 1200px) {
        width: 156 / 1400 * 100vw;
        height: 170 / 1400 * 100vw;
      }

      @media (max-width: 1023px) {
        width: 156 / 1024 * 100vw;
        height: 170 / 1024 * 100vw;
      }

      @media (max-width: 680px) {
        width: 156 / 680 * 100vw;
        height: 170 / 680 * 100vw;
      }

      @media (max-width: 490px) {
        width: 156 / 490 * 100vw;
        height: 170 / 490 * 100vw;
      }
    }

    @media (max-width: 1200px) {
      top: -5 / 1400 * 100vw;
      margin-right: 15 / 1400 * 100vw;
      width: 156 / 1400 * 100vw;
      height: 129 / 1400 * 100vw;
    }

    @media (max-width: 1023px) {
      width: 156 / 1024 * 100vw;
      height: 129 / 1024 * 100vw;
    }

    @media (max-width: 680px) {
      width: 156 / 680 * 100vw;
      height: 129 / 680 * 100vw;
    }

    @media (max-width: 490px) {
      width: 156 / 490 * 100vw;
      height: 129 / 490 * 100vw;
    }
  }

  &__text {
    padding-top: 7px;
    width: 100%;
    max-width: 250px;
    font-size: 0;

    @media (max-width: 1200px) {
      max-width: 250 / 1400 * 100vw;
    }

    @media (max-width: 1023px) {
      max-width: 250 / 1024 * 100vw;
    }

    @media (max-width: 680px) {
      max-width: 250px;
    }

    @media (max-width: 490px) {
      max-width: 250 / 490 * 100vw;
    }
  }

  &__title {
    display: inline-block;
    margin: 0;
    font-family: $font-minion-pro;
    font-weight: 400;
    font-size: 48px;
    line-height: 0.8;
    color: #1a6949;

    @media (max-width: 1200px) {
      font-size: 48 / 1400 * 100vw;
    }

    @media (max-width: 1023px) {
      font-size: 48 / 1024 * 100vw;
    }

    @media (max-width: 680px) {
      font-size: 42px;
    }

    @media (max-width: 490px) {
      font-size: 42 / 490 * 100vw;
    }
  }

  &__descr {
    margin: 0;
    font-family: $font-calibri;
    font-size: 12px;
    color: #343434;

    @media (max-width: 1200px) {
      font-size: 12 / 1400 * 100vw;
    }

    @media (max-width: 1023px) {
      font-size: 12 / 1024 * 100vw;
    }

    @media (max-width: 680px) {
      font-size: 12px;
    }

    @media (max-width: 490px) {
      font-size: 12 / 490 * 100vw;
    }
  }

  @media (max-width: 680px) {
    justify-content: center;
    width: 100%;
  }
}

.header-contacts {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 0;
  margin-left: 28px;
  padding: 0;
  padding-bottom: 8px;
  width: 100%;
  max-width: 470px;

  &__item {
    position: relative;
    padding-left: 9px;

    &::before {
      content: "";
      position: absolute;
      left: -1px;
      bottom: 2px;
      width: 1px;
      height: calc(100% - 24px);
      background-color: $color-limeade;
    }

    &:not(:last-child) {
      margin-right: 20px;

      @media (max-width: 490px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    svg {
      display: block;
      margin-bottom: 3px;
      width: 16px;
      height: 16px;
      fill: $color-jewel;
    }

    strong {
      display: block;
      font-size: 14px;
      line-height: 1.25;
      color: #333;

      @media (max-width: 1200px) {
        font-size: 14 / 1400 * 100vw;
      }

      @media (max-width: 1023px) {
        font-size: 14 / 1024 * 100vw;
      }

      @media (max-width: 680px) {
        font-size: 14px;
      }
    }

    a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      color: $color-limeade;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: $color-limeade;
        transition: width 0.3s, left 0.3s;
      }

      @media (min-width: 1025px) {
        &:hover,
        &:focus {
          &::after {
            left: 0;
            width: 100%;
            transition: width 0.3s, left 0.3s;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    max-width: 540 / 1400 * 100vw;
  }

  @media (max-width: 1023px) {
    justify-content: center;
    margin-left: auto;
    padding-top: 40px;
    max-width: 510 / 1024 * 100vw;
  }

  @media (max-width: 680px) {
    margin-left: 0;
    max-width: 100%;
  }

  @media (max-width: 490px) {
    flex-flow: column nowrap;
    max-width: 50%;
  }
}

.header-cart {
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
    border: 2px solid transparent;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    background-color: $color-jewel;
    transition: border-color 0.2s, background-color 0.2s;

    svg {
      margin-top: 2px;
      margin-right: 3px;
      width: 23px;
      height: 21px;
      fill: $color-white;
      transition: fill 0.2s;
    }

    @media (min-width: 1025px) {
      &:hover,
      &:focus {
        border-color: $color-jewel;
        background-color: transparent;
        transition: border-color 0.2s, background-color 0.2s;

        svg {
          fill: $color-jewel;
          transition: fill 0.2s;
        }
      }
    }
  }

  &__price {
    strong {
      display: block;
      font-size: 14px;
      line-height: 1.1;
      letter-spacing: 0.7px;
    }

    span {
      display: block;
      font-size: 12px;
      letter-spacing: 0.6px;
    }

    @media (max-width: 1023px) {
      margin-left: 10px;
    }
  }

  @media (max-width: 1023px) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 20px;
  }
}
