@import "../variables";

.contacts {
  padding-top: 34px;

  .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-flow: column nowrap;
      align-items: center;
    }
  }

  &__info {
    width: 50%;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__video {
    position: relative;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 23.8%;
    width: 46.5%;
    height: 0;

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    @media (max-width: 767px) {
      padding-bottom: 56.25%;
      width: 100%;
    }
  }

  &__map {
    margin-top: 20px;
    width: 100%;
    height: 430px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: $font-pf-handbook;
    font-weight: 400;
    font-size: 60px;
    line-height: 0.8;
    color: #333;
  }
}

.contacts-list {
  list-style: none;
  padding-left: 0;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__link {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    text-decoration: none;

    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 1.3;
      text-transform: uppercase;
      color: $color-limeade;
    }

    svg {
      margin-right: 8px;
      width: 26px;
      height: 31px;
      fill: $color-limeade;
    }
  }

  &__adress {
    margin: 0;
    padding-left: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.42;
    color: #333;
  }

  &__schedule {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 35px;
    padding-left: 5px;

    li {
      padding-left: 5px;
      font-weight: 600;
      line-height: 1.2;

      &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        border-radius: 50%;
        width: 7px;
        height: 7px;
        background-color: $color-black;
      }
    }
  }

  &__schedule-title {
    padding-left: 5px;
    font-weight: 700;
    line-height: 1.7;
    text-decoration: underline;
  }

  &__description {
    padding-left: 5px;
    line-height: 1.3;
  }
}

.contacts-page {
  padding-bottom: 62px;

  &__social {
    list-style: none;
    margin-top: 25px;
    padding: 0;
    padding-bottom: 24px;
    box-shadow: 0 -9px 0 $color-white, 0 1px 9px rgba($color-black, 0.2);

    li {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      a {
        position: relative;
        display: inline-block;
        text-decoration: none;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: $color-limeade;
          transition: width 0.3s;
        }

        @media (min-width: 1025px) {
          &:hover,
          &:focus {
            &::after {
              width: 0;
              transition: width 0.3s;
            }
          }
        }
      }

      @media (max-width: 600px) {
        font-size: 14 / 600 * 100vw;
      }
    }

    svg {
      margin-right: 13px;
      border-radius: 50%;
      width: 32px;
      height: 32px;

      &.inst-ic {
        background-image: radial-gradient(
          farthest-corner at -6px 20px,
          #fed576 0%,
          #f47133 26.34%,
          #bc3081 60.91%,
          #b424a6 100%
        );
      }
    }
  }
}

.contacts-page-map {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 70px;

  &__info {
    padding-top: 15px;
    width: 540px;

    .contacts-list__adress {
      margin-bottom: 15px;
      line-height: 1.3;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__box {
    padding-top: 30px;
    width: 585px;
    height: 320px;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  @media (max-width: 767px) {
    flex-flow: column nowrap;
    margin-bottom: 0;
  }
}
