@import "../variables";

.main-nav {
  position: relative;
  width: 100%;
  background-color: transparent;

  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: 1023px) {
      flex-flow: column nowrap;
      align-items: center;
    }
  }

  &__item {
    position: relative;
    margin: 0 31px;

    @media (max-width: 1200px) {
      margin: 0 31 / 1400 * 100vw;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 15px 0;
    padding-bottom: 17px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

    &::before {
      content: "";
      position: absolute;
      right: -11px;
      top: 50%;
      display: block;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      background-color: #fff;
      transform: translateY(-50%);

      @media (max-width: 1023px) {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 3px;
      background-color: transparent;
      transition: width 0.3s, background-color 0.3s;
    }

    &.active {
      &::after {
        width: 100%;
        background-color: #fff;
      }
    }

    @media (min-width: 1025px) {
      &:hover,
      &:focus {
        &::after {
          width: 100%;
          background-color: #fff;
          transition: width 0.3s, background-color 0.3s;
        }

        + .main-nav__dropdown {
          opacity: 1;
          visibility: visible;
          transition: visibility 0.3s, opacity 0.3s, top 0.3s;
        }
      }
    }

    @media (max-width: 490px) {
      &.active {
        color: $color-jewel;

        &::after {
          background-color: $color-jewel;
        }
      }
    }
  }

  &__dropdown {
    position: absolute;
    left: -22px;
    top: 100%;
    z-index: 1;
    list-style: none;
    padding: 4px 40px 8px 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
    background-color: #fff;
    opacity: 0;
    visibility: hidden;

    &-item {
      margin: 8px 0;

      @media (max-width: 1023px) {
        margin: 0;
      }
    }

    &-link {
      position: relative;
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
      text-decoration: none;
      color: #080808;
      transition: color 0.2s;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: transparent;
      }

      @media (min-width: 1025px) {
        &:hover {
          color: $color-limeade;
          transition: color 0.2s;

          &::after {
            left: 0;
            width: 100%;
            background-color: $color-limeade;
            transition: background-color 0.3s, left 0.3s, width 0.3s;
          }
        }
      }

      @media (max-width: 1023px) {
        position: relative;
        display: block;
        padding: 15px 0;
        padding-bottom: 17px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;

        &::before {
          content: "";
          display: block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          position: absolute;
          left: -10px;
          top: 50%;
          transform: translateY(-50%);
          background-color: #fff;
        }
      }
    }

    &.open {
      opacity: 1;
      visibility: visible;
      transition: visibility 0.3s, opacity 0.3s, top 0.3s;

      @media (max-width: 1023px) {
        position: relative;
        left: 0;
        top: 0;
      }
    }

    @media (min-width: 1025px) {
      &:hover,
      &:focus {
        opacity: 1;
        visibility: visible;
        transition: visibility 0.3s, opacity 0.3s, top 0.3s;
      }
    }

    @media (max-width: 1023px) {
      left: auto;
      padding: 0;
      box-shadow: none;
      background-color: transparent;
    }
  }
}
