$sprites: (
	"ic_delivery": (
		normal: (
			x: 0,
			y: 0,
			width: 30,
			height: 32,
			image: "sprites.png",
			total_width: 62,
			total_height: 44,
		),
		retina: (
			x: 0,
			y: 0,
			width: 60,
			height: 64,
			image: "sprites@2x.png",
			total_width: 124,
			total_height: 88,
		),
	),
	"ic_filter": (
		normal: (
			x: 0,
			y: 34,
			width: 16,
			height: 10,
			image: "sprites.png",
			total_width: 62,
			total_height: 44,
		),
		retina: (
			x: 0,
			y: 68,
			width: 32,
			height: 20,
			image: "sprites@2x.png",
			total_width: 124,
			total_height: 88,
		),
	),
	"ic_pay": (
		normal: (
			x: 32,
			y: 0,
			width: 30,
			height: 28,
			image: "sprites.png",
			total_width: 62,
			total_height: 44,
		),
		retina: (
			x: 64,
			y: 0,
			width: 60,
			height: 56,
			image: "sprites@2x.png",
			total_width: 124,
			total_height: 88,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
