// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #333;
$color-white: #fff;
$color-seashell: #f1f1f1;
$color-alto: #d7d7d7;
$color-dove-gray: #646464;
$color-silver: #bcbcbc;
$color-dusty-gray: #949494;
$color-atlantis: #85cd32;
$color-jewel: #186a47;
$color-green-pea: #1a6949;
$color-limeade: #68ac02;
$color-lima: #8ad11f;
$color-torch-red: #fe112d;

// FONTS

$font-default: "Open Sans", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
$font-calibri: "Calibri", $font-default;
$font-din-pro: "DIN Pro", $font-default;
$font-din-pro-cond: "DIN Pro Cond", $font-default;
$font-pf-handbook: "PF Handbook Pro", $font-default;
$font-minion-pro: "Minion Pro", $font-default;
