// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;

// FONTS

$font-default: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
$font-calibri: "Calibri", $font-default;
$font-din-pro: "DIN Pro", $font-default;
$font-din-pro-cond: "DIN Pro Cond", $font-default;
$font-pf-handbook: "PF Handbook Pro", $font-default;
$font-minion-pro: "Minion Pro", $font-default;
